.fade-in {
    animation: fadeIn 1s ease-in-out forwards;
}

.fade-out {
    animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.text-fade-in {
    animation: fadeInSmooth 2.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.text-fade-out {
    animation: fadeOutSmooth 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes fadeInSmooth {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOutSmooth {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}